%h2.hot Внимание!!! При оформлении новых заявок необходимо указать вместо идентификационного кода, дату рождения абонента.
%ul#requestmenu
	%li= link_to "Оформить заявку для физического лица", newfl_path
%table.table.table-bordered
	%thead
		%tr
			%th №
			%th Абонент
			%th Статус
			%th Заявку подал
			%th Создана
			%th Обновлена
			%th Точка подключения
	%tbody
	- @rfl.each do |r|
		%tr
			%td= r.id
			%td= link_to r.fio, "/requestfl/#{r.id}"
			%td= r.requeststatus.title
			%td= r.user.name
			%td= I18n.l r.created_at, format: :long
			%td= I18n.l r.updated_at, format: :long
			%td= ContractParameterType7Value.find(r.node).title