%ul#requestmenu
	%li= link_to "Оформить заявку для физического лица", newfl_path
%ul#requsetfl
	- @rfl.each do |r|
		%li
			.rfltitle= link_to r.fio, "/requestfl/#{r.id}"
			.statuses=r.requeststatus.title
	- if @rfl.count.eql?(0) && User.superadmin(@user.id)
		%li Жаль, но заявок от представителей нет
	- elsif @rfl.count.eql?(0) && !User.superadmin(@user.id)
		%li
			%div= "Безумно жаль #{@user.name}, но от Вас нет активных заявок, возможно Вам нужна ссылка расположенная выше"
