%script{:src => "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"}
- flash.each do |key, value|
	- if key.to_s.eql?("notice")
		%div#notice="#{value}"
	- else
		%div#error="#{value}"
#requestflcontent
	%h4= "Cтатус заявки: #{@rfl.requeststatus.title}"
	- if User.superadmin(@user.id) && @rfl.requeststatus_id.eql?(1)
		%div
			%label После заведения абонента в биллинг нажмите на следующую ссылку
			= link_to("Готово к подключению", "/readystatusfl/#{@rfl.id}")
	- if @rfl.user_id.eql?(@user.id) && @rfl.requeststatus_id.eql?(2)
		%div
			%label После успешного подключения абонента нажмите на следующую ссылку
			= link_to("Абонент успешно подключен", "/connectedstatusfl/#{@rfl.id}")
	- if User.superadmin(@user.id) && @rfl.requeststatus_id.eql?(3)
		%div
			%label Абонент успешно подключен нажмите на следующую ссылку
			= link_to("Закрыть заявку", "/finishstatusfl/#{@rfl.id}")
	%h3= "Заявка на включение абонента #{@rfl.fio} - Заявку оформил #{@rfl.user.name}"
	%div 
		%b= "Точка подключения:"
	#readmap
	%div
		%b= "ФИО:"
		%label= "#{@rfl.fio}"
	%div
		%b= "Адресс почтовый:"
		%label= "#{@rfl.adress_post}"
	%div
		%b= "Адресс подключения:"
		%label= "#{@rfl.adress_connection}"
	%div
		%b= "Электронная почта:"
		%label= "#{@rfl.email}"
	%div
		%b= "Телефон:"
		%label= "#{@rfl.telephone}"
	%div
		%b= "Идентификационный код:"
		%label= "#{@rfl.in}"
	%div
		%b= "Серия/номер паспорта:"
		%label= "#{@rfl.pasport}"
	%div
		%b= "Кем выдан паспорт:"
		%label= "#{@rfl.pasport_authority}"
	%div
		%b= "Дата выдачи паспорта:"
		%label= "#{@rfl.pasport_date.strftime("%d.%m.%Y")}"
	%div
		%b= "Форма оплаты:"
		%label= "#{ContractParameterType7Value.find(@rfl.payment_form).title}"
	%div
		%b= "IP адресс:"
		%label= "#{@rfl.ip}"
	%div
		%b= "Логин:"
		%label= "#{@rfl.login}"
	%div
		%b= "Пароль:"
		%label= "#{@rfl.password}"
	%div
		%b= "Технология подключения:"
		%label= "#{ContractParameterType7Value.find(@rfl.technology).title}"
	%div
		%b= "Точка подключения:"
		%label= "#{ContractParameterType7Value.find(@rfl.node).title}"
	%div
		%b= "Тарифный план:"
		%label= "#{@rfl.tariffplan.title}"
	%div
		%b= "Дополнительная информация:"
		%div= @rfl.description
:javascript
		$(function(){
				ymaps.ready(showmap);
				function showmap () {
					var myMaper = new ymaps.Map("readmap", {
						center: [#{@rfl.latlng_connection}],
						zoom: 16,
						behaviors: ['default', 'scrollZoom']
					});
					var coords = [#{@rfl.latlng_connection}];
					ymaps.geocode(coords).then(function (res) {
						var names = [];
						res.geoObjects.each(function (obj) {
							names.push(obj.properties.get('name'));
						});
							myMaper.balloon.close();
							myMaper.balloon.open(coords, {
								contentHeader: names.reverse().join(', '),
								contentBody: [coords[0].toPrecision(6),
											coords[1].toPrecision(6)].join(', ')
							});
					});
				}

		});