%script{:src => "http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU"}
- if @note.errors.any?
  #error_explanation
    %h2
      = #pluralize(@note.errors.count, "ошибки")
      %p
        Предварительная заявка не может быть добавлена по причине:
    %ul
      - @note.errors.full_messages.each do |msg|
        %li= msg

= form_for @note, url: { action: "create" } do |n|
  .editor_field
    %label ФИО
    = n.text_field :fio, class: "span6"
  .editor_field
    %label_field Координаты подключения (введите адрес и нажмите "Показать на карте" или кликните по карте):
    = n.text_field :latlng_connection, class: "span6"
    %br
    %div#requestmap
    %br
  .editor_field
    %label IP-адрес
    = n.text_field :ip, class: "span6"
  .editor_field
    %label Логин
    = n.text_field :login, class: "span6"
  .editor_field
    %label Телефон
    = n.text_field :phone, class: "span6"
  .editor_field
    %label Базовая станция
    = n.collection_select :bs, ContractParameterType7Value.where(pid: 54).order('title ASC'), :id, :title, {prompt: 'Выберите точку подключения'}, class: "span6"
  .editor_field
    %label Тип оборудования
    = n.collection_select :hardware, ContractParameterType7Value.where(pid: 68).order('title ASC'), :id, :title, {prompt: 'Выберите тип оборудования'}, class: "span6"
  .editor_field
    %label MAC-адрес
    = n.text_field :mac, class: "span6"
  .editor_field
    %label Монтажник
    = n.collection_select :agent, ContractParameterType7Value.where(pid: 63).order('title ASC'), :id, :title, {prompt: 'Выберите монтажника'}, class: "span6"
  .editor_field
    %label Статус заявки
    = collection_select(:note, :note_status_id, NoteStatus.all, :id, :title, prompt: "Статус быстрой заявки")
  .editor_field
    %label Примечание
    = n.text_area :remark, cols: 100, rows: 6, class: "span6"
  .editor_field
    = n.submit "Создать", :class => "btn", class: "span6"

:javascript
  $(function(){
    var m = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"],
      sm = ["Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек"],
      d = ["Воскресенье", "Понедельник", "Вторник", "Среда", "Четверг", "Пятница", "Суббота"],
      sd = ["Вс", "Пд", "Вт", "Ср", "Чт", "Пт", "Сб"];
        $("input#requestfl_pd").datepicker({
          dateFormat: "dd.mm.yy",
          monthNames: m,
          changeMonth: true,
          changeYear: true,
          yearRange: '-50:-0',
          monthNamesShort: sm,
          dayNames: d,
          dayNamesMin: sd});
          ymaps.ready(create);
  });
