.row
	.span8.offset1
		= form_for @task, :url => { :action => "update" }, :html => { :method => 'put' } do |f|
			%legend 
				Редактирование задачи
				= @task.title
			- @task.errors.each do  |i, m|
				.alert.alert-error= m
			= f.label "Заголовок"
			= f.text_field :title, :style => "width:600px;"
			%br
			= f.label "Текст"
			= f.text_area :text, :style => "width:600px;", :rows => 10
			%br
			= f.label "Назначить (необязательно):"
			= f.collection_select :take_id, User.where( [ "status=?", 0 ] ).order('name ASC'), :id, :name, {:prompt => 'Сотрудник не выбран'}
			- if @task.observers.nil?
				- array = []
			- else
				- array = @task.observers.split(",")
			%br
			= f.label "Выберите наблюдателей:"
			- for user in User.where( [ "status=?", 0 ] ).order('name ASC')
				%div{ :style => "display:inline-block; width: 250px; height: 50px;" }
					= check_box_tag "task[observers][]", user.id, array.include?(user.id.to_s)
					= f.label user.name
			%br
			= f.submit "Обновить заявку", :class => "btn"
