.content-fluid
	.row
		- if @tasks.count > 0
			%table.table.table-striped.span11.offset1
				%thead 
					%tr
						%th №
						%th Заголовок
						%th Дата создания
						%th Создал
						%th Принял/Назначен
						%th Комментарии
						%th Действия
				%tbody
					- @tasks.each do |t|
						- if t.tstatus_id.eql? 1
							%tr.warning
								%td= t.id
								%td= t.title
								%td= t.created_at.strftime("%Y.%m.%d %H:%M:%S")
								%td= t.user.name
								%td
									- if t.take_id.nil?
										Заяку еще не приняли 
									- else
										= User.find(t.take_id).name
								%td= t.tcomments.count
								%td
									= link_to "Подробнее", task_path(t), :class => "btn"
						- elsif t.tstatus_id.eql? 2
							%tr.info
								%td= t.id
								%td= t.title
								%td= t.created_at.strftime("%Y.%m.%d %H:%M:%S")
								%td= t.user.name
								%td
									- if t.take_id.nil?
										Заяку еще не приняли 
									- else
										= User.find(t.take_id).name
								%td= t.tcomments.count
								%td
									= link_to "Подробнее", task_path(t), :class => "btn"
						- elsif t.tstatus_id.eql? 3
							%tr.success
								%td= t.id
								%td= t.title
								%td= t.created_at.strftime("%Y.%m.%d %H:%M:%S")
								%td= t.user.name
								%td
									- if t.take_id.nil?
										Заяку еще не приняли 
									- else
										= User.find(t.take_id).name
								%td= t.tcomments.count
								%td
									= link_to "Подробнее", task_path(t), :class => "btn"
			.span1.offset1
				.span2
					= link_to "Добавить задачу", new_task_path, :class => "btn btn-primary btn-large"
				.span2
					%h4 Статусы:
					%label Заявку еще не приняли
					%span.label{:style => "background-color:#FCF8E3;width: 100px; height:20px;"} 
					%label Заявку обрабатывают
					%span.label{:style => "background-color:#D9EDF7;width: 100px; height:20px;"}
					%label Заявка выполнена
					%span.label{:style => "background-color:#DFF0D8;width: 100px; height:20px;"}
		- else
			.hero-unit.span8.offset1
				%h3 Пусто!
				%p На данный момент нет активных задач, но вы всегда можете создать новую
				= link_to "Добавить задачу", new_task_path, :class => "btn btn-primary btn-large"
