%ul{:style => "list-style:none;"}
	%li= link_to "Все договора", "/docs"
	%li= link_to "04 договора", "/doc/04-"
	- @most.each do |a|
		%li= link_to "#{a.title.gsub(/\-000$/, "")} договора", "/doc/#{a.title.gsub(/000$/, "")}"
%table#bal
	%thead
		%tr
			%th Договор
			%th Абонент
			%th Наличие подписанного договора
			%th Отсутствуют данные
	%tbody
		- @contracts.each do |c|
			%tr
				%td= c.title
				%td= c.comment
				- if !c.flags.where(["pid=?", 56]).first.nil?
					- if c.flags.where(["pid=?", 56]).first.val.eql? 1
						%td Есть
					- else
						%td Нет
				- else 
					%td Нет
				%td
					- padress = c.contract_parameter_type2.where( [ "pid=?", 5 ] )[0]
					- if !padress.nil?
						- if padress.address.eql? ""
							%span Почтовый адрес;
					- else
						%span Почтовый адрес;
					- сadress = c.contract_parameter_type2.where( [ "pid=?", 42 ] )[0]
					- if !сadress.nil?
						- if сadress.address.eql? ""
							%span Адресс подключения;
					- else
						%span Адресс подключения;
					- contactphone = c.phones.where( [ "pid=?", 14 ] )[0]
					- if !contactphone.nil?
						- if contactphone.value.eql? ""
							%span Телефон;
					- sostdate = c.contract_parameter_type6.where( [ "pid=?", 28 ] )[0]
					- if !sostdate.nil?
						- if sostdate.val.eql? ""
							%span Дата составления договора;
					- else
						%span Дата составления договора;
					- condate = c.contract_parameter_type6.where( [ "pid=?", 41 ] )[0]
					- if !condate.nil?
						- if condate.val.eql? ""
							%span Дата фактического включения;
					- else
						%span Дата фактического включения;
					- payform = c.contract_parameter_type7.where( [ "pid=?", 52 ] )[0]
					- if payform.nil?
						%span Форма оплаты;	
					- if c.pgid.eql? 1
						- fio = c.contract_parameter_type1.where( [ "pid=?", 29 ] )[0]
						- if !fio.nil?
							- if fio.val.eql? ""
								%span ФИО;
						- else
							%span ФИО;
						- inn = c.contract_parameter_type1.where( [ "pid=?", 55 ] )[0]
						- if !inn.nil?
							- if inn.val.eql? ""
								%span Идентификационный номер;
						- else
							%span Идентификационный номер;	
						- pass = c.contract_parameter_type1.where( [ "pid=?", 24 ] )[0]
						- if !pass.nil?
							- if pass.val.eql? ""
								%span Паспорт серия и номер;
						- else
							%span Паспорт серия и номер;
						- kempass = c.contract_parameter_type1.where( [ "pid=?", 25 ] )[0]
						- if !kempass.nil?
							- if kempass.val.eql? ""
								%span Кем выдан паспорт;
						- else
							%span Кем выдан паспорт;
						- passdate = c.contract_parameter_type6.where( [ "pid=?", 27 ] )[0]
						- if !passdate.nil?
							- if passdate.val.eql? ""
								%span Дата выдачи паспорта;
						- else
							%span Дата выдачи паспорта;
					- else
						- nalogschema = c.contract_parameter_type7.where( [ "pid=?", 51 ] )[0]
						- if nalogschema.nil?
							%span Схема налогооблажения;
						- bankname = c.contract_parameter_type1.where( [ "pid=?", 15 ] )[0]
						- if !bankname.nil?
							- if bankname.val.eql? ""
								%span Наименование банка;
						- else
							%span Наименование банка;
						- mfo = c.contract_parameter_type1.where( [ "pid=?", 16 ] )[0]
						- if !mfo.nil?
							- if mfo.val.eql? ""
								%span МФО банка;
						- else
							%span МФО банка;
						- rasc = c.contract_parameter_type1.where( [ "pid=?", 17 ] )[0]
						- if !rasc.nil?
							- if rasc.val.eql? ""
								%span Рассчетный счет;
						- else
							%span Рассчетный счет;