%table.table.table-bordered
  %thead
    %tr
      %th №
      %th Договор
      %th Абонент
      %th Входящий остаток
      %th Приход 
      %th Наработка
      %th Расход
      %th Исходящий остаток
      %th Лимит
  %tbody
  - ids.each do |id|
    - if id.status.eql?(3)
      - class_tr = 'error'
    - elsif id.status.eql?(2)
      - class_tr = 'warning'
    - elsif id.status.eql?(4)
      - class_tr = 'info'
    - else 
      - class_tr = 'success'
    - if id.balances.where(@wherestring).empty?
      - summa = id.balances.where("yy <= ?", @month).order("yy DESC").limit(1).each do |summa|
        %tr{ class: "#{class_tr}" }
          %td= index += 1
          %td= id.title
          %td= id.comment
          %td= summa.summa1+summa.summa2-summa.summa3-summa.summa4
          %td= 0
          %td= 0
          %td= 0
          %td= summa.summa1+summa.summa2-summa.summa3-summa.summa4
          %td= id.closesumma
    - id.balances.where(@wherestring).each do |summa|
      %tr{ class: "#{class_tr}" }
        %td= index += 1
        %td= id.title
        %td= id.comment
        %td= summa.summa1 
        %td= summa.summa2
        %td= summa.summa3
        %td= summa.summa4
        %td= summa.summa1+summa.summa2-summa.summa3-summa.summa4
        %td= id.closesumma
      
