%div{ :id => "center" }
%table#bal
	%tr
		%th Дата:
		%th Номера договоров:
		%th Юр. лицо
		%th Физ. лицо
	%tr
		%th
			%input{ :class => "inputDate", :id => "inputDate", :value => "#{Time.now.strftime( "%m/%Y" )}" }
		%th
			%input{ :id => "inputNumb", :value => "12-" }
		%th
			%input{ :type => "checkbox", :class => "option", :value => "fc='1'" }
		%th
			%input{ :type => "checkbox", :class => "option", :value => "fc='0'" }
	%tr
		%th{ :colspan => "2" }
			%button.btn{ :id => "getlist" } Получить список
%p
.row
	.span2
		%h4 Статусы:
		%label Активен
		%span.label{ :style => "background-color:#DFF0D8;width: 100px; height:20px;" }
		%label Закрыт
		%span.label{ :style => "background-color:#F2DEDE;width: 100px; height:20px;" }
		%label Отключен
		%span.label{ :style => "background-color:#FCF8E3;width: 100px; height:20px;" }
		%label Приостановлен
		%span.label{ :style => "background-color:#D9EDF7;width: 100px; height:20px;" }
	#container.span10
		%table#bal.table
			%tr
				%th №
				%th Дoговор
				%th Абонент
				%th Входящий остаток
				%th Приход
				%th Наработка
				%th Расход
				%th Исходящий остаток
				%th Текущий лимит
			- @ids.each do |id|
				- if id.status == 3
					- class_tr = 'error'
				- elsif id.status == 2
					- class_tr = 'warning'
				- elsif id.status == 4
					- class_tr = 'info'
				- else 
					- class_tr = 'success'
				%tr{ class: "#{class_tr}" }
					- summa = id.balances.where( @wherestring )[ 0 ]
					- if summa.nil?
						- summa = id.balances.order("yy DESC")[0]
						- summa1 = summa.summa1 + summa.summa2 - summa.summa3 - summa.summa4
						- summa2 = 0
						- summa3 = 0
					- if summa.nil?
						- summa = Balance.new summa1: 0, summa2: 0, summa3: 0, summa4: 0
					%td= @index
					%td= id.title
					%td= id.comment
					%td= summa.summa1
					%td= summa.summa2
					%td= summa.summa3
					%td= summa.summa4
					%td= summa.summa1 + summa.summa2 - summa.summa3 - summa.summa4
					%td= id.closesumma
					- @index = @index + 1
:css
	.ui-datepicker-calendar {
		display: none;
	}
:javascript
	$(function(){
	$.datepicker.regional['ru'] = {
		closeText: 'Закрыть',
		prevText: '<Пред',
		nextText: 'След>',
		currentText: 'Сегодня',
		monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
		'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
		monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
		'Июл','Авг','Сен','Окт','Ноя','Дек'],
		dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
		dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
		dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
		weekHeader: 'Не',
		dateFormat: 'dd.mm.yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
	};
	$.datepicker.setDefaults($.datepicker.regional['ru']);
		$('input#inputDate').datepicker({
			dateFormat: 'mm/yy',
			changeMonth: true,
			changeYear: true,
			showButtonPanel: true,
			onClose: function(dateText, inst) { 
				var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
				var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
				$(this).datepicker('setDate', new Date(year, month, 1));
			},
			onSelect: function (formated, dates) {
				$('input#inputDate').val(formated);
				if ($('#closeOnSelect input').attr('checked')) {
					$('input#inputDate').DatePickerHide();
				}
			}
		});

		$('button#getlist').on('click', function () {
			var date = $('#inputDate').val(),
				pgid = new Array(),
				mm = date.match('^[0-9]+').toString(),
				yy = date.match('[0-9]+$').toString(),
				numb = $('#inputNumb').val(),
				pgidstring = "";
			$.each($('input.option:checked'), function (numb, val) {
				pgid.push($(val).val());
			});
			if (pgid.length == 1)
				pgidstring = pgid[0].toString();
			else if(pgid.length == 2)
				pgidstring = pgid[0].toString() + " OR " + pgid[1].toString();
			//else if (pgid.length == 3)
			//	pgidstring = pgid[0].toString() + " OR " + pgid[1].toString() + " OR " + pgid[2].toString();
			Send(mm, yy, numb, pgidstring);
		});
	//url: '/bg_billing/index?mm=' + mm + '&yy=' + yy + '&number=' + numb + '&query=' + pgidstring,
		function Send(mm, yy, numb, pgidstring) {
			//$('div#loading').fadeIn(400).fadeOut(400).fadeIn(400).fadeOut(400);
			$.ajax({
				type: 'GET',
				url: '/getsumms?mm=' + mm + '&yy=' + yy + '&number=' + numb + '&query=' + pgidstring,
				dataType: 'html',
				success: function (result) {
					$('div#container').html(result);
				}
			});

		}
	});
