%link{href: "http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css", rel: "stylesheet", type: "text/css"}/
%h4
  Платеж обработан.
%p
  = link_to "Ссылка на тему", "https://ruby.crimeainfo.com/agent_payments"
%table.table.table-bordered
  %thead
    %tr
      %th
        Платеж обработал(а)
      %th
        Договор
  %tbody
    %tr
      - if @payment.confirmation.nil?
        %td= @payment.manager.name
      - else
        %td= @payment.confirmation.name
      %td= @payment.contract.title + " - " + @payment.contract.comment
%p="Процесс обработки занял #{time_ago_in_words(@payment.created_at)}"
%br
%br
%p Сообщение сгенерировано Bgwebmon