.row
  .search_block{style: "margin: 0px 0px 0px 30px;"}
    = form_tag statistic_path, method: :get, class: "form-search" do
      .input-append
        = text_field_tag :query, params[:query], class: "span4 search-query"
        = submit_tag "Фильтр", name: nil, class: "btn"
%table.table.table-bordered
  %thead
    %tr
      %th Базовая станция
      %th Всего договоров
      %th Активные договора
  %tbody
  - @nodes.each do |c|
    %tr
      %td{:style => "text-align: left"}= link_to c.title, "/nodestatistic/#{c.id}"
      %td
        %span{ class: "#{c.contracts.count > 0 ? 'badge badge-info' : 'badge'}" }= c.contracts.count
      %td
        %span{ class: "#{c.contracts.count > 0 ? 'badge badge-success' : 'badge'}"}= c.contracts.where("status = '0'").count