%h2=@nodename
%table.table.table-bordered
	%thead
		%tr
			%th Договор
			%th Тариф
			%th Абонплата
			%th Наработка
	%tbody
	- @contracts.each do |c|
		- c[:tariffs][0]["tplans"].each do |t|
			%tr
				%td= "#{c[:title]} - #{c[:comment]}"
				%td= "#{t[:title]}"
				%td= "#{t[:cost]} руб."
				%td= "#{c[:balance]}"
%h4= "Всего абонентов: #{@count}"
%h4= "Планируемый доход: #{@allcost} руб., Текущий доход: #{@alloperation} руб."