%h2=@nodename
%table.table.table-bordered
	%thead
		%tr
			%th Договор
			%th Тариф
			%th Абонплата, руб.
			%th Наработка, руб.
	%tbody
	- @contracts.each do |c|
		- c[:tariffs][0]["tplans"].each do |t|
			%tr
				%td= "#{c[:title]} - #{c[:comment]}"
				%td= "#{t[:title]}"
				%td= "#{t[:cost]}"
				%td= "#{c[:balance]}"
%h4= "Всего позиций: #{@count}"
%h4= "Итого абонплат: #{@allcost} руб., Итого наработка: #{@alloperation} руб."