.page-header
  %h1
    Доходы и Расходы
%div
  = link_to t('.new', :default => t("helpers.links.new")), new_report_path, :class => 'btn btn-primary', style: "color: #fff;"
%div
  %p

%table.table.table-bordered
  %thead
    %tr
      %th{:colspan => 5} Базовая станция
      %th{:colspan => 6} Расходы
      %th Доходы
      %th Действия
    %tr
      %th Название
      %th РИЧ 
      %th Всего договоров
      %th Активных договоров
      %th Доходы одного РЭС
      %th РЧР
      %th Канал
      %th Электро
      %th Аренда
      %th Прочие
      %th Итого: 
      %th Итого: 
      %th 
  %tbody
    - @reports.each do |r|
      %tr
        %td.clear
          %table
            - r.nodes.each do |n|
              %tr{:rowspan => r.nodes.count}
                %td.left=n.name
        %td.clear
          %table
            - r.nodes.each do |n|
              %tr{:rowspan => r.nodes.count}
                %td=n.rich
        %td.clear
          %table
            - r.nodes.each do |n|
              %tr{:rowspan => r.nodes.count}
                %td=n.contracts_all
        %td.clear
          %table
            - r.nodes.each do |n|
              %tr{:rowspan => r.nodes.count}
                %td=n.contracts_active
        %td.clear
          %table
            - r.nodes.each do |n|
              %tr{:rowspan => r.nodes.count}
                %td.right=format("%.2f", n.income)
        %td.clear
          %table
            - r.nodes.each do |n|
              %tr{:rowspan => r.nodes.count}
                %td.right= format("%.2f",n.frequency)
        %td.right= format("%.2f", r.channel)
        %td.right= format("%.2f", r.electro)
        %td.right= format("%.2f", r.rent)
        %td.right= format("%.2f", r.other)
        %td.right= format("%.2f", r.outcome)
        %td.right= format("%.2f", r.income)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_report_path(r.id), :class => 'btn btn-primary'
