!!!
%html
	%head
		%title= title_helper
		%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "http://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=latin,cyrillic", :rel => "stylesheet", :type => "text/css"}
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		#topmenu
			- if !@user.nil?
				%ul#menuul
					%li= link_to "Мониторинг", monnodes_path
					%li= link_to "Доходы базовых станций", statistic_path
					%li= link_to "Заявки на включение", request_path
					%li= link_to "Балансы", balances_path
			#user
				- if @user.nil?
					#name Вы не вошли
					#logout
				-else
					#name= @user.name
					#logout= link_to "выйти", logout_path
		#contentblock
			= yield